<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center"> -->
  <!-- <img [src]="imageUrl" class="img"> -->
<!-- </div> -->
<!-- <app-dashboard></app-dashboard>
<router-outlet></router-outlet> -->

<!-- main app container -->
<div>
	<img [src]="imageUrl" class="img">
</div>
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <!-- <app-dashboard></app-dashboard> -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>



