<p>
  {{aboutUsDesc}}
</p>
<!-- <object width="425" height="344" data="https://www.youtube.com/embed/F9Bo89m2f6g"></object>

<embed src="https://www.youtube.com/embed/F9Bo89m2f6g" allowfullscreen="true" width="425" height="344">

<iframe  width="425" height="344" src="https://www.youtube.com/embed/F9Bo89m2f6g" frameborder="0" allowfullscreen></iframe> -->

<video width="320" height="240" controls>
  <source [src]="videoUrl" type="video/mp4">
  <!-- <source src="/assets_tutorials/media/Shaun-the-Sheep-The-Movie-Official-Trailer.ogg" type="video/ogg"> -->
Your browser does not support the video tag.
</video>
